<div class="content">
    <form autocomplete="off" [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <h2>Créer un compte</h2>
        <div class="form-element">
            <label for="username">Nom d'utilisateur<span class="required">*</span></label>
            <input type="text" id="username" name="username" formControlName="userName" />
            @if (userName?.invalid && (userName?.touched || userName?.dirty)) {
            <div class="error-message">
                @if (userName?.errors?.['minlength']) {
                Le nom d'utilisateur doit comporter au moins 3 caractères.
                } @else {
                Le nom d'utilisateur est requis.
                }
            </div>
            }
        </div>
        <div class="form-element">
            <label for="email">Email<span class="required">*</span></label>
            <input type="email" id="email" name="email" formControlName="email" />
            @if (email?.invalid && (email?.touched || email?.dirty)) {
            <div class="error-message">
                @if (email?.errors?.['email']) {
                L'adresse email n'est pas valide.
                } @else {
                L'adresse email est requise.
                }
            </div>
            }
        </div>
        <div class="form-element">
            <label for="firstName">Prénom<span class="required">*</span></label>
            <input type="text" id="firstName" name="firstName" formControlName="firstName" />
            @if (firstName?.invalid && (firstName?.touched || firstName?.dirty)) {
            <div class="error-message">
                Le prénom est requis.
            </div>
            }
        </div>
        <div class="form-element">
            <label for="lastName">Nom<span class="required">*</span></label>
            <input type="text" id="lastName" name="lastName" formControlName="lastName" />
            @if (lastName?.invalid && (lastName?.touched || lastName?.dirty)) {
            <div class="error-message">
                Le nom est requis.
            </div>
            }
        </div>
        <div class="form-element">
            <label for="dateOfBirth">Date de naissance<span class="required">*</span></label>
            <input type="date" id="dateOfBirth" name="dateOfBirth" formControlName="dateOfBirth" />
            @if (dateOfBirth?.invalid && (dateOfBirth?.touched || dateOfBirth?.dirty)) {
            <div class="error-message">
                La date de naissance est requise.
            </div>
            }
        </div>
        <div class="form-element">
            <label for="password">Mot de passe<span class="required">*</span></label>
            <input type="password" id="password" name="password" formControlName="password" />
            @if (password?.invalid && (password?.touched || password?.dirty)) {
            <div class="error-message">
                @if (password?.errors?.['minlength']) {
                Le mot de passe doit comporter au moins 6 caractères.
                } @else {
                Le mot de passe est requis.
                }
            </div>
            }

            <label for="confirmPassword">Confirmer le mot de passe<span class="required">*</span></label>
            <input type="password" id="confirmPassword" name="confirmPassword" formControlName="confirmPassword" />
        </div>
        <div class="form-element roles">
            <label class="label-role" for="inputState">Rôle<span class="required">*</span></label>
            <select formControlName="role" id="inputState" class="form-select">
                <option [ngValue]="null" disabled>Choisissez un rôle </option>
                @for (role of roles; track role.value) {
                <option [ngValue]="role.value">{{ role.viewValue }}</option>
                }
            </select>
            @if (role?.invalid && (role?.touched || role?.dirty)) {
            <div class="error-message">
                Le rôle est requis.
            </div>
            }
        </div>

        @if (profileForm.errors?.['mismatch'] && (confirmPassword?.touched || confirmPassword?.dirty)) {
        <div class="error-message">
            Les mots de passe ne correspondent pas.
        </div>
        }

        @if (profileForm.errors?.['serverError']) {
        <div class="error-message">
            {{ profileForm.errors?.['serverError'] }}
        </div>
        }

        <button class="btn btn-primary" type="submit" [disabled]="isFormInvalid || isSubmitting">{{isSubmitting ?
            "S'incrire..." :
            "S'inscrire"}}</button>
        <div class="login">
            <span>Déjà un compte ?</span>
            <a href="/auth/login">Se connecter</a>
        </div>
    </form>
</div>