.content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0e0e0;
  padding: 20px;
  flex: 1;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 750px;
  width: 90%;
  padding: 20px;
  margin: 0 auto;
  background-color: #f5f5f5;

  h2 {
    text-align: center;
    margin-bottom: 35px;
  }

  .form-element {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px;

    label {
      font-size: 16px;
    }

    input {
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 16px;
    }

    .form-select {
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 16px;
    }
  }

  button {
    margin-top: 20px;
    padding: 10px;
  }

  .login {
    margin-top: 15px;
    text-align: center;

    a {
      color: #007bff;
      text-decoration: none;
      margin-left: 5px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
