<div class="content">
    <form autocomplete="off" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <h2>Se connecter</h2>
        <div class="form-element">
            <label for="username">Nom d'utilisateur<span class="required">*</span></label>
            <input type="text" id="username" formControlName="username" required />
            @if (username?.invalid && (username?.touched || username?.dirty)) {
            <div class="error-message">
                Le nom d'utilisateur est requis.
            </div>
            }
        </div>
        <div class="form-element">
            <label for="password">Mot de passe<span class="required">*</span></label>
            <input type="password" id="password" formControlName="password" required />
            @if (password?.invalid && (password?.touched || password?.dirty)) {
            <div class="error-message">
                Le mot de passe est requis.
            </div>
            }
        </div>
        @if (loginForm.errors?.['serverError']) {
        <div class="error-message">
            {{ loginForm.errors?.['serverError'] }}
        </div>
        }
        <button class="btn btn-primary" type="submit" [disabled]="isFormInvalid || isSubmitting">{{this.isSubmitting ?
            'Connexion en cours...' : 'Connexion'}}</button>
        <div class="login">
            <span>Pas encore de compte ?</span>
            <a href="/auth/register">Créer un compte</a>
        </div>
    </form>
</div>