ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  color: white;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

li {
  float: left;
  cursor: pointer;

  a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

    &:hover {
      background-color: #111;
    }
  }
}
